@using WebCustomerApp.Models.MailingViewModels
@model MailingViewModel

@{
    ViewData["Title"] = "Mailings";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Index" asp-controller="Mailings" method="post" asp-antiforgery="true">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Times" type="text" class="hidden" hidden id="timesform" />
    <div class="form-group row">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" type="text" class="form-control" placeholder="Title of mailing" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="Text">Message</label>
        <textarea asp-for="Text" class="form-control" placeholder="Message"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="GroupIds"></label>
        <select asp-for="GroupIds" asp-items="Model.Groups" multiple class="form-control"></select>
    </div>

    <div class="form-group row">
        <div class="col-lg-3">
            <input id="datetimeinput" />
            <script>
                $('#datetimeinput').datetimepicker({ footer: true, modal: true, format: 'dd.mm.yyyy H:MM' });
            </script>
        </div>
        <div class="col-lg-3">
            <button type="button" class="btn btn-default" onclick="AddTimeFunc()">Add time</button>
        </div>
    </div>
    <div class="form-group row">
        <button type="submit" class="btn btn-default" onclick="FillTimesFunc()">Add mailing</button>
    </div>
    <div class="list-group row" id="timeslist"></div>

</form>



<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Groups</th>
            <th scope="col">Date added</th>
            <th scope="col">Message</th>
            <th scope="col">Controls</th>
        </tr>
    </thead>
    <tbody>
        @foreach (MailingListItemViewModel eter in ViewBag.MailingList)
        {
            { await Html.RenderPartialAsync("MailingListItem", eter); }
        }
    </tbody>
</table>

<script type="text/javascript">
    var iter;
    if (typeof iter == 'undefined')
        iter = 0;
    var dates = [];
</script>


<script type="text/javascript">
    function AddTimeFunc() {
        var input = document.getElementById("datetimeinput").value;
        if (dates.indexOf(input) > -1)
            return;
        if (input == "")
            return;
        var inputDate = new Date(Date.UTC(Number(input.slice(6, 10)), Number(input.slice(3, 5)) - 1, Number(input.slice(0, 2)) + 1));
        var currentDate = new Date();
        if (inputDate <= currentDate)
            return;
        dates[iter] = input;
        var show = document.getElementById("timeslist");
        show.innerHTML += '<button type="button" class="list-group-item list-group-item-action" id="time' + iter + '" onclick="RemoveTimeFunc(' + iter + ')">' + input + '</button>';
        iter++;
    }
</script>
<script type="text/javascript">
    function RemoveTimeFunc(arg) {
        var element = document.getElementById("time" + arg);
        dates.splice(arg, 1);
        iter--;
        RedrawTimeFunc();
    }
</script>

<script type="text/javascript">
    function RedrawTimeFunc() {
        var show = document.getElementById("timeslist");
        show.innerHTML = "";
        var kter;
        for (kter = 0; kter < iter; kter++) {
            show.innerHTML += '<button type="button" class="list-group-item list-group-item-action" id="time' + kter + '" onclick="RemoveTimeFunc(' + kter + ')">' + dates[kter] + '</button>';
        }
    }
</script>



<script type="text/javascript">
    function FillTimesFunc() {
        document.getElementById("timesform").value = dates.join();
    }
</script>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
